---
import WaitlistForm from "./WaitlistForm.astro";

function randomHeadline() {
  return listOfThings[Math.floor(Math.random() * listOfThings.length)];
}

let listOfThings = [
  `Be sneaky - make offers on non-listed properties.`,
  `Make offers on unlisted properties`,
  `Seen a house you love? We'll help you propose.`,
];
---

<section class="hero flex">
  <div>
    <h1>Seen a house you love? We'll help you propose.</h1>
  </div>
  <WaitlistForm />
</section>
<style>
  h1 {
    font-size: 8rem;
    max-width: 50%;
    line-height: 8rem;
  }
  section {
    background: var(--mustard);
    min-height: 80vh;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .hero {
    padding: var(--space-lg);
    width: 100%;
    justify-content: space-between;
  }
</style>
