---
---

<form>
  <h3>Join the waitlist.</h3>
  <label for="email" id="email-label"
    >enter your email for early access, news & updates</label
  >
  <input id="email" type="email" />
  <button type="submit">join the waitlist</button>
</form>

<style>
  h3 {
    font-size: 2.5rem;
  }
  label {
    font-size: 1.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    width: 600px;
  }
</style>
