---
---

<form>
  <label for="email" id="email-label"
    >enter your email for early access, news & updates</label
  >
  <input id="email" type="email" />
  <button type="submit">join the waitlist</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    padding: var(--space-lg);
    width: 600px;
  }
</style>
